#my-input-box {
    box-sizing: content-box;
    width: 200px;
    height: 100px;
}

#my-input-box {
    box-sizing: padding-box;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
}
