<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <title>控制器</title>
</head>
<body>
    <!--angularjs的应用程序ng-app被ng-controller控制-->
    <!--controller控制app的数据，是js对象-->

    <!-- ng-app定义了应用程序，应用程序在div中运行 -->
    <!--ng-model把input绑定为ng-controller的属性-->
    <div ng-app="myApp" ng-controller="myCtrl">
        名：<input type="text" ng-model="firstName"><br>
        姓：<input type="text" ng-model="lastName"><br>
        <br>
        姓名：{{firstName + " " + lastName}}
    </div>

    <script>
        var app = angular.module("myApp", []);
        // angularjs使用$scope来调用控制器myCtrl
        // 所以这里$scope可以调用ng-controller的属性
        app.controller("myCtrl", function ($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
            // $scope.full
        });
    </script>
</body>
</html>