<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <title>Huawei</title>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <input type="text" ng-model="name">
        <h1>{{greeting}}</h1>
        <button ng-click="sayHello()">click me</button>
    </div>

    <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function($scope) {
            $scope.name = "Thomson";
            $scope.sayHello = function () {
                $scope.greeting = "Hello " + $scope.name;
            }
        });
    </script>
</body>
</html>